<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <p><%= link_to "View source", "https://github.com/jameswklassen/transit-dashboard" %> on GitHub <%= fa_icon 'github' %></p>
      <span>Copyright &copy; <%= Time.now.year %> <%= link_to 'James Klassen', "https://jamesklassen.dev" %></span>
    </div>
  </div>
</footer>