<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% transactions.each do |transaction| %>
      <tr>
        <td>
          <%= link_to "https://www.google.ca/maps/search/#{transaction.location}" do %>
            <%= fa_icon 'map-marker'%>
          <% end %>
          <%=link_to transaction.location.titleize, transaction_path(transaction) %>
        </td>
        <td><%= l transaction.date.localtime, format: :long %></td>
      </tr>
    <% end %>
  </tbody>
</table>