<h1>All Transactions</h1>

<%= form_with(url: {action: :upload}, multipart: true) do %>
  <%= file_field_tag 'file' %>
  <%= submit_tag("Upload CSV") %>
<% end %>
<hr>


<% @transactions.each do |transaction| %>
  <%= react_component("Transaction", { transaction: transaction, link: transaction_path(transaction) }) %>
<% end %>