<h1>All Transactions</h1>

<% if @transactions.any? %>
  <h2>Mornings</h2>
  <%= render 'table', transactions: @transactions.morning %>
  
  <h2>Afternoons</h2>
  <%= render 'table', transactions: @transactions.afternoon %>

  <h2>All</h2>
  <% render 'table', transactions: @transactions %>
<% else %>
  <div class="alert alert-primary" role="alert">
    No transactions :(
  </div>
<% end %>