<h1>All Transactions</h1>
<p>List of all transactions</p>

<p>
  <%= link_to('New transaction', new_transaction_path) %>
</p>
<hr>

<% @transactions.each do |transaction| %>
  <%= link_to(transaction.transaction_number, transaction_path(transaction)) %>
  <h2><%= transaction.location %></h2>
  <%= transaction.date %>
  <hr>
<% end %>