<h1>All Transactions</h1>

<% if @transactions.any? %>
  <%= render 'table', transactions: @transactions%>
<% else %>
  <div class="alert alert-primary" role="alert">
    No transactions :(
  </div>
<% end %>